table {
  border-collapse: collapse;
  width: 100%;
}

tr{
  height: 2px;
}

th, td {
  text-align: left;
  padding: 1px;
}

th{
  color: white;
  background-color: #033076;
  font-size: larger;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover{
  color: white;
  background-color: #033076;
}

[data-value="true"]{
  color: #035ff1;
  font-size: larger;
}

.adminLink{
  float: left;
  font-size: smaller;
  color: #033076;
  margin-top: 5rem;
}
.meter{
  height: 1vw;
  max-width: 10rem;
	margin: auto;
	background: rgb(165, 165, 165);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.one{
  width: 1%;
}

.quarter{
  width: 25%;
}

.half{
  width: 50%;
}

.threeQuarter{
  width: 75%;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43, 226, 92);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
  min-width: 500px;
  min-height: 20vw;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  font-family: arial;
}

.title {
  color: #033076;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #033076;
  text-align: center;
  cursor: pointer;
  max-width: 40vw;
  font-size: 18px;
  float: right;
  margin: 1rem;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.nextButton{
  position: relative;
  bottom: 5px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #033076;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: .9;
}

.nextButton:hover{
  font-size: larger;
  opacity: 1;
}

.admin{
  max-width: 820px;
}

.feedbackArray{
  display: block;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

